.App {
  margin: 50px auto;
  text-align: center;
  background: #C3EF6CFF;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: double;
  border-color: black;
  border-radius: 15px;
  border-width: 10px;
}